@font-face{
  font-family: 'OfficinaBoldSerif';
  font-style: normal;
  font-weight: bold;
  src: font-url('offs_b-webfont.eot');
  src: font-url('offs_b-webfont.eot?#iefix') format('embedded-opentype'),
       font-url('offs_b-webfont.woff') format('woff'),
       font-url('offs_b-webfont.ttf') format('truetype'),
       font-url('offs_b-webfont.svg#OfficinaSerifBoldNormal') format('svg');
}
@font-face{
  font-family: 'OfficinaBookSerif';
  font-style: normal;
  font-weight: normal;
  src: font-url('offs_-webfont.eot');
  src: font-url('offs_-webfont.eot?#iefix') format('embedded-opentype'),
       font-url('offs_-webfont.woff') format('woff'),
       font-url('offs_-webfont.ttf') format('truetype'),
       font-url('offs_-webfont.svg#OfficinaSerifBookNormal') format('svg');
}