// layout
$small-device: 320px;
$medium-device: 480px;
$large-device: 768px;
$width-layout: 1024px;

// colors
$orange-light: #f48e00;
$orange-medium: #f78c1f;
$orange-dark: #f18e25;
$purple: #6d2f8f;
$grey-light: #f4f4f5;
$grey: #808285;
$white: #fff;
$black: #000;

//orientação
$orientation-portrait: 'portrait';
$orientation-landscape: 'landscape';